In [ ]:
Write a code to display the first and last colors from the following list.

colors_list = [‘Red’, ‘Green’, ‘White’, ‘Black’] 
Expected output: ['Red', 'Black']

In [6]:
colors_list = ['Red', 'Green', 'White', 'Black'] 
colors_list[-1]

'Black'

In [7]:
colors_list[0]

'Red'

In [ ]:
Concatenate two lists index-wise

list1 = ["M", "na", "i", "Su"] list2 = ["y", "me", "s", "mit"] 
Expected output: ['My', 'name', 'is', 'Sumit']

In [8]:
list1 = ["M", "na", "i", "Su"] 
list2 = ["y", "me", "s", "mit"] 
# printing original lists 
print ("The original list 1 is : " + str(list1)) 
print ("The original list 2 is : " + str(list2)) 
  
# using list comprehension + zip() 
# interlist element concatenation 
res = [i + j for i, j in zip(list1,list2)] 
  
# printing result  
print ("The list after element concatenation is : " +  str(res))

The original list 1 is : ['M', 'na', 'i', 'Su']
The original list 2 is : ['y', 'me', 's', 'mit']
The list after element concatenation is : ['My', 'name', 'is', 'Sumit']

In [ ]:
Given a Python list you should be able to display Python list in the following 
order

Lsit1 = [100, 200, 300, 400, 500] 
Expected output: [500, 400, 300, 200, 100]

In [10]:
Lsit1 = [100, 200, 300, 400, 500]
Lsit1.sort(reverse=True)
print(Lsit1)

[500, 400, 300, 200, 100]

In [ ]:
Concatenate two lists in the following order

list1 = ["Hello ", "Welcome "] 
list2 = ["Dear", "Sir"]
Expected output: ['Hello Dear', 'Hello Sir', 'Welcome Dear', 'Welcome Sir']

In [11]:
list1 = ["Hello ", "Welcome "] 
list2 = ["Dear", "Sir"]
# printing original lists 
print ("The original list 1 is : " + str(list1)) 
print ("The original list 2 is : " + str(list2)) 
  
# using list comprehension + zip() 
# interlist element concatenation 
res = [i + j for i, j in zip(list1,list2)] 
  
# printing result  
print ("The list after element concatenation is : " +  str(res))

The original list 1 is : ['Hello ', 'Welcome ']
The original list 2 is : ['Dear', 'Sir']
The list after element concatenation is : ['Hello Dear', 'Welcome Sir']

In [ ]:
Remove empty strings from the list of strings, Hint : Use filter() method to 
remove none from list1

list1 = ["AI", "", "Emma", "DL", "", "NLP"] 
Expected output: ["AI", "Emma", "DL", "NLP"]

In [29]:
list1 = ["AI", "", "Emma", "DL", "", "NLP"]
without_empty_strings = []
for string in list1:
    if (string != ""):
        without_empty_strings.append(string)

print(without_empty_strings)

['AI', 'Emma', 'DL', 'NLP']

In [ ]:
Reverse the following tuple

Tup = (10, 20, 30, 40, 50) 
Expected output: (50, 40, 30, 20, 10)

In [33]:
def Reverse(Tup): 
    new_tup = Tup[::-1] 
    return new_tup 
      
# Driver Code 
Tup = (10, 20, 30, 40, 50) 
print(Reverse(Tup))

(50, 40, 30, 20, 10)

Access Grey from the following tuple

Tup = ("Orange", ['Black', 'Grey', 30], (5, 15, 25)) 
Expected output: Grey

In [36]:
Tup = ("Orange", ['Black', 'Grey', 30], (5, 15, 25)) 
Tup[1][1]

'Grey'

In [ ]:
Swap the following two tuples

tuple1 = (11, 22) tuple2 = (99, 88) 
Expected output: tuple1 = ((99, 88) , (11, 22))

In [38]:
tuple1 = (11, 22) 
tuple2 = (99, 88)
tuple1,tuple2 = tuple2,tuple1 # swapping
print(tuple1)

(99, 88)

In [ ]:
Copy element apple and mango from the following tuple into a new tuple

tuple1 = ('cherry', 'banana', 'guava', 'apple', 'mango', 'lichi') 
Expected output: ('apple', 'mango')

In [48]:
from copy import deepcopy
tuple1 = ('cherry', 'banana', 'guava', 'apple', 'mango', 'lichi') 
tup=tuple1[3:5]

new_tup=deepcopy(tup)
print(new_tup)

('apple', 'mango')

In [ ]:
Add a list of elements to a given set

Set1 = {"NumPy", "Pandas", "OpenCv"} 
Set2 = ["Scikit", "Matplotlib", "Keras"]
Expected output: {'Pandas', 'Keras', 'Scikit', 'Matplotlib', 'NumPy', 'OpenCv'}

In [54]:
a=set(["NumPy" ,"Pandas", "OpenCv"])
list = ["Scikit", "Matplotlib", "Keras"]
a.update(list)
a

{'Keras', 'Matplotlib', 'NumPy', 'OpenCv', 'Pandas', 'Scikit'}

In [ ]:
Write a Program to create new set with all items from both sets by removing 
duplicates

Set1 = {"NumPy", "OpenCv","Scikit-Learn"} 
Set2 = {"Scikit", "Matplotlib", "Keras","Scikit-Learn"}
Expected output: {'Keras', 'Matplotlib', 'NumPy', 'OpenCv', 'Scikit', 
                   'Scikit-Learn'}

In [58]:
first_list = ["NumPy", "OpenCv","Scikit-Learn"]
second_list = ["Scikit", "Matplotlib", "Keras","Scikit-Learn"]
print( set( first_list + second_list ) )

{'NumPy', 'Keras', 'Scikit-Learn', 'Scikit', 'Matplotlib', 'OpenCv'}

In [ ]:
Write a code to update first set with items that exist only in the first set and 
not in the second set.

Set1 = {"NumPy", "OpenCv","Scikit-Learn"} 
Set2 = {"Scikit", "Matplotlib", "Keras","Scikit-Learn"}
Expected output: {'NumPy', 'OpenCv'}

In [65]:
Set1 = {"NumPy", "OpenCv","Scikit-Learn"} 
Set2 = {"Scikit", "Matplotlib", "Keras","Scikit-Learn"}
Set1.difference_update(Set2)
print(Set1)

{'NumPy', 'OpenCv'}

In [ ]:
Write a Program which prints the uncommon elements of Set1 and Set2 
Set1 = {"NumPy", "OpenCv","Scikit-Learn"} 
Set2 = {"Scikit", "Matplotlib", "Keras","Scikit-Learn"}
Expected output: {'Keras', 'Scikit', 'Matplotlib', 'NumPy', 'OpenCv'}

In [71]:
Set1 = {"NumPy", "OpenCv","Scikit-Learn"} 
Set2 = {"Scikit", "Matplotlib", "Keras","Scikit-Learn"}
a=Set1.union(Set2) 
a

{'Keras', 'Matplotlib', 'NumPy', 'OpenCv', 'Scikit', 'Scikit-Learn'}

In [ ]:
Write a Code to update the data of set1 by adding items from set2, 
ignoring all the common items of set1 and set2

Set1 = {"NumPy", "OpenCv","Scikit-Learn"} 
Set2 = {"Scikit", "Matplotlib", "Keras","Scikit-Learn"}
Expected output: {'Keras', 'Scikit', 'Matplotlib', 'NumPy', 'OpenCv'}

In [66]:
Set1 = {"NumPy", "OpenCv","Scikit-Learn"} 
Set2 = {"Scikit", "Matplotlib", "Keras","Scikit-Learn"}
print(Set1.union(Set2))

{'Scikit-Learn', 'Scikit', 'Matplotlib', 'NumPy', 'OpenCv', 'Keras'}

In [ ]:
Write a Code to remove the data from set1 that are uncommon to both the sets.

Set1 = {"NumPy", "OpenCv","Scikit-Learn"} 
Set2 = {"Scikit", "Matplotlib", "Keras","Scikit-Learn"}
Expected output: {'Scikit-Learn'}

In [67]:
Set1 = {"NumPy", "OpenCv","Scikit-Learn"} 
Set2 = {"Scikit", "Matplotlib", "Keras","Scikit-Learn"}
x=Set1.intersection(Set2)
print(x)

{'Scikit-Learn'}