In [ ]:
What are the two values of the Boolean data types? How you write them?

In [1]:
# boolean data types or of two - TRUE AND FALSE

# Check true
a = True
print(bool(a))
# Check false
a = False
print(bool(a))
# Check 0
a = 0.0
print(bool(a))
# Check 1
a = 1.0
print(bool(a))
# Check Equality
a = 5
b = 10
print(bool( a==b))

True
False
False
True
False

In [ ]:
What are the three Boolean Operators?

In [ ]:
# the three boolean operators are "AND","OR","NOT"

#AND = AND will print the output if the two condition is true 
  # eg : if(1 AND 2):
    
#OR = OR will print the output if one of the two is true
  # eg : if(1 OR 2):
    
#NOT = NOT can be defined as compliment operator
  # eg : if(NOT):

In [ ]:
Write out the truth tables of each Boolean Operator (that is, every possible combination of Boolean values for the operator and what they evaluate to)

In [2]:
#AND:

True and True is True

True and False is False

False and True is False

False and False is False

#OR:

True or True is True

True or False is True

False or True is True

False or False is False

#NOT:

not True is False

not False is True

True

In [ ]:
What to the following expressions evaluate to?
• (5>4) and (3==5)
• not (5>4)
• (True and True) and (True == False)
• not ((5>4) or (3==5))
• (5>4) or (3==5)
• (not False) or (not True)

In [4]:
(5>4) and (3==5)
not (5>4)
(True and True) and (True == False)
not ((5>4) or (3==5))
(5>4) or (3==5)
(not False) or (not True)

True

In [ ]:
What are the Six Comparison Operators?

In [ ]:
#compariion operators
#==(is equal), !=(not equal), <(less than), >(greater than), <=(less than equal),>=(greater than equal)

In [ ]:
What is the difference between equal to operator and assignment operator?

In [ ]:
# = (assignment):
 # this operator is used to assign a value to a variable used as assigning
    
# == (is equal):
 # this is a comparition operator used to compare weather the both values are equal to return output

In [ ]:
Print the calendar for the year 2020 and 2021.

In [5]:
# importing the calendar module
import calendar
# initializing the year
year = 2020
# printing the calendar
print(calendar.calendar(year))

                                  2020

      January                   February                   March
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
       1  2  3  4  5                      1  2                         1
 6  7  8  9 10 11 12       3  4  5  6  7  8  9       2  3  4  5  6  7  8
13 14 15 16 17 18 19      10 11 12 13 14 15 16       9 10 11 12 13 14 15
20 21 22 23 24 25 26      17 18 19 20 21 22 23      16 17 18 19 20 21 22
27 28 29 30 31            24 25 26 27 28 29         23 24 25 26 27 28 29
                                                    30 31

       April                      May                       June
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
       1  2  3  4  5                   1  2  3       1  2  3  4  5  6  7
 6  7  8  9 10 11 12       4  5  6  7  8  9 10       8  9 10 11 12 13 14
13 14 15 16 17 18 19      11 12 13 14 15 16 17      15 16 17 18 19 20 21
20 21 22 23 24 25 26      18 19 20 21 22 23 24      22 23 24 25 26 27 28
27 28 29 30               25 26 27 28 29 30 31      29 30

        July                     August                  September
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
       1  2  3  4  5                      1  2          1  2  3  4  5  6
 6  7  8  9 10 11 12       3  4  5  6  7  8  9       7  8  9 10 11 12 13
13 14 15 16 17 18 19      10 11 12 13 14 15 16      14 15 16 17 18 19 20
20 21 22 23 24 25 26      17 18 19 20 21 22 23      21 22 23 24 25 26 27
27 28 29 30 31            24 25 26 27 28 29 30      28 29 30
                          31

      October                   November                  December
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
          1  2  3  4                         1          1  2  3  4  5  6
 5  6  7  8  9 10 11       2  3  4  5  6  7  8       7  8  9 10 11 12 13
12 13 14 15 16 17 18       9 10 11 12 13 14 15      14 15 16 17 18 19 20
19 20 21 22 23 24 25      16 17 18 19 20 21 22      21 22 23 24 25 26 27
26 27 28 29 30 31         23 24 25 26 27 28 29      28 29 30 31
                          30

In [6]:
year2 = 2021
print(calendar.calendar(year2))

                                  2021

      January                   February                   March
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
             1  2  3       1  2  3  4  5  6  7       1  2  3  4  5  6  7
 4  5  6  7  8  9 10       8  9 10 11 12 13 14       8  9 10 11 12 13 14
11 12 13 14 15 16 17      15 16 17 18 19 20 21      15 16 17 18 19 20 21
18 19 20 21 22 23 24      22 23 24 25 26 27 28      22 23 24 25 26 27 28
25 26 27 28 29 30 31                                29 30 31

       April                      May                       June
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
          1  2  3  4                      1  2          1  2  3  4  5  6
 5  6  7  8  9 10 11       3  4  5  6  7  8  9       7  8  9 10 11 12 13
12 13 14 15 16 17 18      10 11 12 13 14 15 16      14 15 16 17 18 19 20
19 20 21 22 23 24 25      17 18 19 20 21 22 23      21 22 23 24 25 26 27
26 27 28 29 30            24 25 26 27 28 29 30      28 29 30
                          31

        July                     August                  September
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
          1  2  3  4                         1             1  2  3  4  5
 5  6  7  8  9 10 11       2  3  4  5  6  7  8       6  7  8  9 10 11 12
12 13 14 15 16 17 18       9 10 11 12 13 14 15      13 14 15 16 17 18 19
19 20 21 22 23 24 25      16 17 18 19 20 21 22      20 21 22 23 24 25 26
26 27 28 29 30 31         23 24 25 26 27 28 29      27 28 29 30
                          30 31

      October                   November                  December
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
             1  2  3       1  2  3  4  5  6  7             1  2  3  4  5
 4  5  6  7  8  9 10       8  9 10 11 12 13 14       6  7  8  9 10 11 12
11 12 13 14 15 16 17      15 16 17 18 19 20 21      13 14 15 16 17 18 19
18 19 20 21 22 23 24      22 23 24 25 26 27 28      20 21 22 23 24 25 26
25 26 27 28 29 30 31      29 30                     27 28 29 30 31

In [ ]:
If the Formula for computing the sum of n natural numbers is: [n(n+1) / 2], then calculate the value of sum of first 10 numbers with the use of formula in python.

In [7]:

# Python program to calculate the sum of n Natural Numbers

# n denotes upto which number you want to calculate the sum
# for example, if n is 5 then the sum of first 10 natural numbers
num = int(input("Enter the value of n: "))
hold = num
sum = 0

if num <= 0: 
   print("Enter a whole positive number!") 
else: 
   while num > 0:
        sum = sum + num
        num = num - 1;
    # displaying output
print("Sum of first", hold, "natural numbers is: ", sum)

Enter the value of n: 10
Sum of first 10 natural numbers is:  55

In [ ]:
Check whether
• Task == task
• ‘clone’ == clone • 3.0 == 2**3 – 3*2 • 125 == 5*5*5

In [39]:
3.0 == 2**3 - 3*2

False

In [40]:
125 == 5*5*5

True

SyntaxError: cannot assign to literal (<ipython-input-49-c75af8dfe4db>, line 1)

In [ ]:
Write a Python code to print current date and time.

In [15]:
import datetime
 
currentDT = datetime.datetime.now()
print (str(currentDT))

2021-01-20 19:24:43.791711

In [ ]:
Calculate the radius of the circle if the user inputs the area.

In [16]:
# import math module
from math import pi
 
# take input from user
r = float(input ("Input the radius of the circle : "))
 
# compute the area from radius of a circle given by user
calculateArea = str(pi * r**2);
 
#print result
print ("The area of the circle with radius " + str(r) + " is: " + calculateArea)

Input the radius of the circle : 2
The area of the circle with radius 2.0 is: 12.566370614359172

In [ ]:
Write a python program to accept a filename from the user and print the extension of that.

In [17]:
filename = input("Input the Filename: ")
f_extns = filename.split(".")
print ("The extension of the file is : " + repr(f_extns[-1]))

Input the Filename: vishnu.jpg
The extension of the file is : 'jpg'

If x =100
I_love_python = 1
Its_Amazing = 2
Print(I_love_Python + x + Its_Amazing)

In [27]:
x= int(input("enter the value :"))
I_love_python = 1
Its_Amazing = 2
if x == 100:
    print("I_love_Python" + "x" + "Its_Amazing")

enter the value :100
I_love_PythonxIts_Amazing

In [ ]:
Accept two string from a user and compare whether the strings are equal or not. Boolean Operators, Comparison Operators.

In [30]:
# Python Program - Compare Two Strings

print("Enter 'x' for exit.")
string1 = input("Enter first string: ")
if string1 == 'x':
    exit();
else:
    string2 = input("Enter second string: ")
    if string1 == string2:
        print("\nBoth strings are equal to each other.")
        print(string1,"==",string2);
    else:
        print("\nStrings are not equal.")
        print(string1,"!=",string2);

Enter 'x' for exit.
Enter first string: data
Enter second string: data

Both strings are equal to each other.
data == data